@import "../global/vars";
.footer {
  display: flex;
  flex-wrap: nowrap;
  width: 870px;
  margin: 31px auto 0;
  padding-top: 26px;
  border-top: 4px solid #ddd;
  &__save {
    padding-left: 10px;
    flex: 0 1 205px;
    height: 31px;
    color: #fff;
    background: url($imgPath + 'save.png') right top no-repeat;
    &:hover {
      opacity: .7;
    }
  }
  &__view {
    text-indent: 50px;
    flex: 0 1 143px;
    height: 31px;
    color: $lime;
    background: url($imgPath + 'view.png') left top no-repeat;
    margin-left: -17px;
    &:hover {
      opacity: .7;
    }
  }
  &__continue {
    flex: 0 1 126px;
    height: 31px;
    color: #fff;
    background: url($imgPath + 'check-point.png') left top no-repeat;
    margin-left: auto;
    &:hover {
      opacity: .7;
    }
  }
}