$lime: #b1cb00;
$pink: #c4037f;
$grayColor: #363636;
$hintColor: #b6b6b6;
$lightGrayColor: #dfdfdf;
$placeholderColor: #7a7a7a;
$darkGrayColor: #363636;
$imgPath: '../../img/';
$fontPath: '../../fonts/DIN/';
$fontCondensed: 'DIN Condensed', Arial, sans-serif;
$fontSF: 'DIN Alt', 'DIN Regular', sans-serif;
$fontApple: 'DIN Alt', 'DIN Regular', sans-serif;
$fontBold: 'DIN Bold', 'DIN Regular', sans-serif;