@import '../global/vars';

.dashboard-top {
  background: url($imgPath + 'bitmap.png') center 10%;
  height: 356px;
  position: relative;
  &__title {
    font: 700 36px/.85 $fontCondensed;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    padding-bottom: 40px;
    width: 996px;
    color: #fff;
    border-bottom: 4px solid $lime;
    height: 30px;
    text-transform: uppercase;
  }
  &__shadow {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, .79) 100%);
    height: 88px;
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: .5;
  }
  &__warning {
    width: 310px;
    height: 174px;
    background: url($imgPath + 'warn.png') center center no-repeat;
    position: absolute;
    bottom: 27px;
    right: 221px;
    z-index: 2;
    padding: 18px 10px 17px 25px;
  }
  &__warning-title {
    font: 700 19px $fontCondensed;
    text-transform: uppercase;
    padding-left: 28px;
    background: url($imgPath + 'warn-bg.png') left center no-repeat;
  }
  &__warning-text {
    font: 15px/1.4 $fontApple;
    padding-top: 16px;
  }
  &__warning-btn {
    justify-content: flex-end;
    width: 67px;
    color: $lime;
    font: 15px/1.25 $fontApple;
    float: right;
  }
}