.wysiwyg {
  width: 870px;
  margin: auto;
  padding-top: 22px;
  &__label {
    padding-bottom: 25px;
    display: flex;
    flex-wrap: nowrap;
    &--area {
      padding: 30px 0 55px 0;
      background-color: #eee;
    }
  }
  &__input-name {
    color: #000;
    line-height: 42px;
    flex: 0 1 220px;
    padding-left: 15px;
  }
  &__input {
    flex: 0 1 368px;
    height: 42px;
    border: 1px solid #dfdfdf;
    text-indent: 12px;
  }
  &__work-area {
    flex: 0 1 385px;
    position: relative;
  }
  &__textarea {
    padding: 5px;
    border: 1px solid #dfdfdf;
    resize: none;
    height: 178px;
    width: 100%;
  }
  &__help {
    color: #b6b6b6;
    position: absolute;
    bottom: -35px;
    left: 0;
  }
  &__require {
    color: #d32e40;
    line-height: 42px;
    padding-left: 20px;
  }
}